---
import { Image } from 'astro:assets'
import Pill from './Pill.astro'

const { slug, data } = Astro.props
const { name, description, image, type } = data 
---

<a href={`/projects/${slug}`} class="group relative flex flex-col gap-4">
	<div class="group relative z-10 aspect-square w-full overflow-clip rounded-sm">
		<Image
			src={image.src}
			alt={image.alt}
			width={320}
			height={320}
			class="absolute inset-0 h-full w-full object-cover transition duration-300 ease-out group-hover:scale-[1.02]"
		/>
	</div>
	<div class="relative z-10 flex flex-col gap-1">
		<div class="flex items-center justify-between">
			<h3 class="font-medium">{name}</h3>
			<Pill name={type} />
		</div>
		<p class="text-xs font-light text-light-2 line-clamp-2">{description}</p>
	</div>
	<span
		aria-hidden="true"
		class="absolute -inset-2 z-0 rounded-md bg-light bg-opacity-0 transition duration-200 ease-out group-hover:bg-opacity-5 peer-aria-current:bg-brand peer-aria-current:bg-opacity-10"
	></span>
</a>
