---
import { Image } from 'astro:assets'

interface Props {
	name: string
	description: string
	src: string
	projectType: string
}

const { name, description, src, projectType } = Astro.props
---

<div class="flex flex-col gap-4">
	<Image
		src={src}
		alt={name}
		class="aspect-square w-full rounded-sm object-cover"
		width={320}
		height={320}
	/>
	<div class="flex flex-col gap-1">
		<div class="flex items-center justify-between">
			<h3 class="font-medium">{name}</h3>
			<span
				class="rounded-full border border-brand bg-brand bg-opacity-10 px-3 py-[2px] text-[8px] uppercase text-brand"
				>{projectType}</span
			>
		</div>
		<p class="text-xs font-light text-light-2">{description}</p>
	</div>
</div>
